extends layout

block content
    h1= 'Change your password:'
    form(action="/changePassword?token=" + token, method="post")
        input.input-sm.center-block(type="password", name="password", placeholder="Enter password")
        input.input-sm.center-block(type="password", name="passwordTwo", placeholder="Repeat password")
        input.input-sm.center-block(type="submit", name="login")
