extends layout

block content
    div.container-fluid
        div.row.col-md-12: h1= 'Hi'
        div.row.col-md-12
            if user
                p Welcome #{user.username}!
            else
                p Welcome Stranger!
