doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/tpip/css/bootstrap.min.css')
        script(src="/tpip/js/jquery-2.2.4.min.js")
        script(src="/tpip/js/bootstrap.min.js")
        block importedScripts

    body
        include navbar.jade
        block content

    include user/modals