div.modal.fade#login-modal(tabindex="-1", role="dialog", aria-hidden="true", style="display: none;")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                h4 Login
            div.modal-body
                form#login-form
                    input.input-sm.center-block(type="text", name="username", placeholder="User Name")
                    input.input-sm.center-block(type="password", name="password", placeholder="Password")
                    input.input-sm.center-block(type="submit", name="login")
            div.modal-footer
                div
                    a(href="#", data-dismiss="modal", data-toggle="modal", data-target="#register-modal") Register
                    | &nbsp-&nbsp
                    a(href="#", data-dismiss="modal", data-toggle="modal", data-target="#forgot-password-modal") Forgot Password