div.modal.fade#register-modal(tabindex="-1", role="dialog", aria-hidden="true", style="display: none;")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                h4 Register
            div.modal-body
                form(action="/register", method="post")
                    input.input-sm.center-block(type="text", name="username", placeholder="User Name")
                    input.input-sm.center-block(type="password", name="password", placeholder="Enter password")
                    input.input-sm.center-block(type="password", name="passwordTwo", placeholder="Repeat password")
                    input.input-sm.center-block(type="submit", name="login")