include genericForm
extends ../layout

mixin passwordChangeBox()
    div.row.col-md-3
        table.pad-top(frame='box'): tr: th: div.container-fluid
            div.row.col-md-12: h4= 'Change password:'
            div.row.col-md-12.pad-top.pad-bottom
                +genericForm({
                    name: 'change-password',
                    url: '/changePassword?token=' + token,
                    fields: [
                        {type: 'password', name: 'password', placeholder: 'Enter password'},
                        {type: 'password', name: 'confirm', placeholder: 'Repeat password'},
                        {type: 'submit', name: 'submit', class: 'btn btn-primary pad-top btn-submit', disabled: true}],
                    onKeyUp: "formValidator.validate('register')",
                    onChange: "formValidator.validate('register')",
                    onSuccess: function (content) {
                        return 'Password changed.';
                    },
                    onFailure: function (content) {
                        return 'Password change failed: ' + content.responseText;
                    }
                })

block content
    div.container-fluid
        if token
            +passwordChangeBox()
        else if user
            div.row.col-md-12: h4= 'Account Preferences:'
            +passwordChangeBox()
            div.row.col-md-12.pad-top: a(href="#", data-toggle="modal", data-target="#delete-account-modal") Delete Account
