div.modal.fade#forgot-password-modal(tabindex="-1", role="dialog", aria-hidden="true", style="display: none;")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                h4 Register
            div.modal-body
                form(action="/forgotPassword", method="post")
                    input.input-sm.center-block(type="text", name="emailAddress", placeholder="Email Address")
                    input.input-sm.center-block(type="submit", name="login")