include genericForm

mixin genericModal(params)
    div.modal.fade(id=params.name + '-modal', tabindex="-1", role="dialog", aria-hidden="true", style="display: none;")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4 #{params.header}
                div.modal-body
                    +genericForm(params)
                if params.footer
                    div.modal-footer!= params.footer
