include genericModal
+genericModal({
    header: 'Login',
    name: 'login',
    url: '/login',
    fields: [
        {type: 'text', name: 'username', placeholder: 'User Name'},
        {type: 'password', name: 'password', placeholder: 'Password'},
        {type: 'submit', name: 'submit', value: 'Submit', class: 'btn btn-primary pad-top'}],
    onSuccess: function (content) {
        window.location.reload();
        return 'Login Successful';
    },
    onFailure: function (content) {
        return 'Login Failed: ' + content.responseText;
    },
    footer: '<div>' +
    '<a href="#" data-dismiss="modal" data-toggle="modal" data-target="#register-modal">Register</a>' +
    '&nbsp&nbsp|&nbsp&nbsp' +
    '<a href="#", data-dismiss="modal", data-toggle="modal", data-target="#forgot-password-modal">Forgot Password</a>' +
    '</div>'
})

+genericModal({
    header: 'Register',
    name: 'register',
    url: '/register',
    fields: [
        {type: 'text', name: 'username', placeholder: 'User Name', onkeyup: "formValidator.validate('register')"},
        {type: 'password', name: 'password', placeholder: 'Enter password', onkeyup: "formValidator.validate('register')"},
        {type: 'password', name: 'confirm', placeholder: 'Repeat password', onkeyup: "formValidator.validate('register')"},
        {type: 'text', name: 'emailAddress', placeholder: 'Email Address', onkeyup: "formValidator.validate('register')"},
        {
            type: 'submit',
            name: 'submit',
            value: 'Submit',
            class: 'btn btn-primary pad-top',
            cursor: 'default'
        }],
    onSuccess: function (content) {
        window.location.reload();
        return 'Registration Successful';
    },
    onFailure: function (content) {
        return 'Registration Failed: ' + content.responseText;
    }
})

+genericModal({
    header: 'Forgot Password',
    name: 'forgot-password',
    url: '/forgotPassword',
    fields: [{type: 'text', name: 'emailAddress', placeholder: 'Email Address', class: 'center-block'},
        {type: 'submit', name: 'submit', value: 'Submit', class: 'btn btn-primary center-block pad-top'}],
    onSuccess: function (content) {
        return 'Password reset email sent - make sure to check your spam folder!';
    },
    onFailure: function (content) {
        return content.responseText;
    }
})

+genericModal({
    header: 'Are you sure?',
    name: 'delete-account',
    url: '/unregister',
    fields: [{type: 'submit', name: 'submit', value: 'Really?', class: 'center-block'}],
    onSuccess: function (content) {
        window.location.href = '/';
        return 'Account Deleted';
    },
    onFailure: function (content) {
        return 'Account Deletion Failed: ' + content.responseText;
    }
})
